.mt-2 {
  margin-top: 4px;
}

.mt-3 {
  margin-top: 6px;
}

.mt-6 {
  margin-top: 12px;
}

.mt-8 {
  margin-top: 16px;
}

.mr-4 {
  margin-right: 8px;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.pb-1 {
  padding-bottom: 2px;
}

.font-weight-bold {
  font-weight: bold;
}

.text-right {
  text-align: right !important;
}

.text-decoration-none {
  text-decoration: none;
}

html,
body {
  page-break-after: avoid;
  page-break-before: avoid;
}

.page-break {
  page-break-after: always;
}

.invoice {
  font-family: "open sans", sans-serif;
  font-size: 11px;
  position: absolute;
  width: 100vw;
}

.invoice .container {
  width: 100%;
}

.invoice .row .col {
  display: inline-block;
}

.invoice .invoice-logo {
  height: 80px;
}

.invoice .invoice-logo.__dio {
  height: 70px;
}

.invoice .invoice-logo.__bol {
  position: absolute;
  top: -60px;
  height: 40px;
  margin-left: 20px;
}

.invoice .top-row {
  position: relative;
  width: 100%;
}

.invoice .company-details {
  position: absolute;
  top: 0;
  padding-right: 28px;
  float: right;
  line-height: 4px;
  font-size: 10px;
}

.invoice .company-details .company-name {
  font-weight: bold;
  font-size: 1.1em;
}

.invoice .company-details .company-details-contact {
  margin-top: -6px;
  margin-bottom: -6px;
}

.invoice .company-details .company-details-contact ._url a {
  color: #d52129;
}

.invoice .invoice-title {
  font-size: 24px;
  font-weight: bold;
}

.invoice .addresses {
  width: 100%;
  font-size: 0;
}

.invoice .addresses .__table-wrapper {
  font-size: 12px;
}

.invoice .addresses ._address-table {
  position: relative;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.invoice .addresses ._address-table td {
  padding: 0;
  vertical-align: bottom;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 12px;
}

.invoice .invoice-details {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 4px;
}

.invoice .invoice-details .invoice-details-table td {
  padding: 5px 4px 5px 0;
  white-space: nowrap;
}

.invoice .invoice-details .invoice-details-table td.__padding-left {
  padding-left: 20px;
}

.invoice .order-details {
  position: absolute;
}

.invoice .order-details .order-details-table {
  width: 100%;
  border-collapse: collapse;
}

.invoice .order-details .order-details-table th {
  text-align: left;
  padding-right: 4px;
  border-bottom: 2px solid #e2e2e2;
}

.invoice .order-details .order-details-table ._product-title {
  font-size: 0.9em;
  line-height: 0.9em;
}

.invoice .order-details .order-details-table ._product-title ._jewelcase {
  display: block;
  font-style: italic;
}

.invoice .order-details .order-details-table ._quantity {
  text-align: right;
}

.invoice .order-details .order-details-table .orderItem-reference {
  width: 20%;
}

.invoice .order-details .order-details-table .orderItem-title {
  width: 45%;
}

.invoice .order-details .order-details-table .orderItem-unitPrice {
  width: 12%;
}

.invoice .order-details .order-details-table .orderItem-quantity,
.invoice .order-details .order-details-table .orderItem-VAT {
  width: 5%;
}

.invoice .order-details .order-details-table .orderItem-quantity {
  text-align: right;
}

.invoice .order-details .__order-items-table-wrapper {
  padding-bottom: 60px;
  border-bottom: 2px solid black;
}

.invoice .order-details .__order-price-table-wrapper {
  position: absolute;
  margin-top: 0;
  right: 0;
}

.invoice .order-details .__order-price-table-wrapper .vat-calculations-table {
  border-spacing: 0;
  text-align: right;
}

.invoice .order-details .__order-price-table-wrapper .vat-calculations-table ._border-top {
  border-top: 2px solid black;
}

.invoice .order-details .__order-price-table-wrapper .vat-calculations-table ._price {
  width: 120px;
}

.invoice .order-details .__order-price-table-wrapper .vat-calculations-table ._height {
  line-height: 12px;
}

.invoice .order-details .__order-price-table-wrapper .vat-calculations-table ._last-before-total {
  padding-bottom: 6px;
}

.invoice .order-details .bol-payment-info {
  font-size: 10px;
  line-height: 8px;
  font-style: italic;
}

.invoice .bottom-text {
  position: absolute;
  bottom: -45px;
  left: -45px;
  right: -45px;
  font-size: 12px;
  line-height: 12px;
  background-color: #d52129;
  color: white;
  height: 75px;
}

.invoice .bottom-text ._wrapper {
  padding: 8px 45px 10px 45px;
}

html,
body {
  page-break-after: avoid;
  page-break-before: avoid;
}

.page-break {
  page-break-after: always;
}

.packing-slip {
  font-family: "open sans", sans-serif;
  font-size: 11px;
  position: absolute;
  width: 100vw;
}

.packing-slip .container {
  width: 100%;
}

.packing-slip .row .col {
  display: inline-block;
}

.packing-slip .packing-slip-logo {
  height: 80px;
}

.packing-slip .packing-slip-logo.__dio {
  height: 70px;
}

.packing-slip .packing-slip-logo.__bol {
  position: absolute;
  top: -60px;
  height: 40px;
  margin-left: 20px;
}

.packing-slip .top-row {
  position: relative;
  width: 100%;
}

.packing-slip .company-details {
  position: absolute;
  top: -20px;
  right: 0;
  float: right;
  line-height: 4px;
  font-size: 10px;
}

.packing-slip .company-details .company-name {
  font-weight: bold;
  font-size: 1.1em;
}

.packing-slip .company-details .company-details-contact {
  margin-top: -6px;
  margin-bottom: -6px;
}

.packing-slip .company-details .company-details-contact ._url a {
  text-decoration: none;
  color: initial;
}

.packing-slip .packing-slip-title {
  font-size: 24px;
  font-weight: bold;
}

.packing-slip .addresses {
  margin-top: 35px;
  width: 100%;
  font-size: 0;
}

.packing-slip .addresses .__table-wrapper {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}

.packing-slip .addresses ._address-table {
  position: relative;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.packing-slip .addresses ._address-table td {
  padding: 0;
  vertical-align: bottom;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 11px;
}

.packing-slip .addresses ._address-table .__title {
  font-size: 0.7em;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.packing-slip .addresses ._address-table .__zipCode {
  line-height: 15px;
  font-weight: bold;
}

.packing-slip .invoice-details {
  margin-top: 18px;
  margin-bottom: 22px;
  line-height: 4px;
}

.packing-slip .invoice-details .invoice-details-table td {
  padding: 4px 4px 4px 0;
  white-space: nowrap;
}

.packing-slip .invoice-details .invoice-details-table td.__padding-left {
  padding-left: 20px;
}

.packing-slip .order-details {
  position: relative;
}

.packing-slip .order-details .order-details-table {
  width: 100%;
  border-collapse: collapse;
}

.packing-slip .order-details .order-details-table th {
  text-align: left;
  padding-right: 4px;
  border-bottom: 1px solid black;
}

.packing-slip .order-details .order-details-table ._product-title {
  font-size: 0.9em;
  line-height: 0.9em;
}

.packing-slip .order-details .order-details-table ._product-title ._jewelcase {
  display: block;
  font-style: italic;
}

.packing-slip .order-details .order-details-table ._quantity {
  text-align: center;
}

.packing-slip .order-details .order-details-table .orderItem-reference {
  width: 20%;
}

.packing-slip .order-details .order-details-table .orderItem-title {
  width: 45%;
}

.packing-slip .order-details .order-details-table .orderItem-unitPrice {
  width: 12%;
}

.packing-slip .order-details .order-details-table .orderItem-quantity,
.packing-slip .order-details .order-details-table .orderItem-VAT {
  width: 5%;
}

.packing-slip .order-details .order-details-table .orderItem-quantity {
  text-align: center;
}

.packing-slip .order-details .order-details-table .more_than_one {
  background-color: #343434;
  color: white;
  font-weight: bold;
}

.packing-slip .order-details .order-details-table .multi-pack {
  background-color: #cfcfcf;
  font-weight: bold;
}

.packing-slip .order-details .__order-items-table-wrapper {
  padding-bottom: 60px;
  border-bottom: 1px solid #aaaaaa;
}

.packing-slip .order-details .__order-price-table-wrapper {
  position: absolute;
  margin-top: 0;
  right: 0;
}

.packing-slip .order-details .__order-price-table-wrapper .vat-calculations-table {
  border-spacing: 0;
  text-align: right;
}

.packing-slip .order-details .__order-price-table-wrapper .vat-calculations-table ._border-top {
  border-top: 1px solid #aaaaaa;
}

.packing-slip .order-details .__order-price-table-wrapper .vat-calculations-table ._price {
  width: 120px;
}

.packing-slip .order-details .__order-price-table-wrapper .vat-calculations-table ._height {
  line-height: 12px;
}

.packing-slip .order-details .__order-price-table-wrapper .vat-calculations-table ._last-before-total {
  padding-bottom: 6px;
}

.packing-slip .order-details .bol-payment-info {
  font-size: 10px;
  line-height: 8px;
  font-style: italic;
}

.packing-slip .return-terms {
  padding: 0 0 0 10px;
  position: relative;
  top: 100px;
  text-align: center;
  font-size: 0.9em;
}

.packing-slip .return-terms ._text-wrapper {
  border: 2px solid #6b6b6b;
  padding: 8px;
  width: 50%;
  margin: 0 auto;
}

.packing-slip .return-terms ._text-wrapper .__title {
  margin: 0;
  padding: 0;
}

.packing-slip .return-terms ._text-wrapper p {
  margin: 0;
}

.packing-slip .return-terms ._underline {
  text-decoration: underline;
}

.packing-slip .bottom-text {
  position: absolute;
  bottom: -20px;
  left: -20px;
  right: -20px;
  line-height: 12px;
  font-size: 9px;
}

.packing-slip .bottom-text td {
  display: table-cell;
  vertical-align: top;
}

.packing-slip .bottom-text td p {
  margin: 0;
  padding: 0;
}

.dataio-order-shipped-body {
  background: initial;
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "Open Sans", serif;
}

.dataio-order-shipped-body table {
  border-collapse: collapse !important;
}

.dataio-order-shipped-body * {
  -ms-text-size-adjust: 100%;
}

.dataio-order-shipped-body table,
.dataio-order-shipped-body td {
  mso-table-lspace: 0pt !important;
  mso-table-rspace: 0pt !important;
}

.dataio-order-shipped-body img {
  -ms-interpolation-mode: bicubic;
}

.dataio-order-shipped-body a {
  text-decoration: none;
}

.dataio-order-shipped-outer-wrapper {
  border: 0;
  width: 100%;
  background: #ffffff;
}

.dataio-order-shipped-outer-wrapper .dataio-table-spacer {
  padding-top: 20px;
}

.dataio-order-shipped-outer-wrapper .dataio-table-title {
  font-size: 1.1em;
  font-weight: bold;
  color: #d52129;
  padding-bottom: 4px;
}

.dataio-order-shipped-outer-wrapper .dataio-header {
  display: block;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.dataio-order-shipped-outer-wrapper .dataio-header ._wrapper {
  width: 100%;
  max-width: 700px;
  vertical-align: top;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
}

.dataio-order-shipped-outer-wrapper .dataio-header .dataio-logo {
  height: 60px;
}

.dataio-order-shipped-outer-wrapper .dataio-main {
  margin: 0 auto;
  max-width: 700px;
}

.dataio-order-shipped-outer-wrapper .dataio-main tr {
  height: 12px;
  padding: 0;
  margin: 0;
}

.dataio-order-shipped-outer-wrapper .dataio-main td {
  font-size: 1em;
  line-height: 1em;
  height: 12px;
}

.dataio-order-shipped-outer-wrapper .dataio-main .dataio-top-header {
  margin-top: 50px;
}

.dataio-order-shipped-outer-wrapper .dataio-main .dataio-top-header ._intro-header {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #d52129;
}

.dataio-order-shipped-outer-wrapper .dataio-main .dataio-delivery-date {
  padding-top: 8px;
}

.dataio-order-shipped-outer-wrapper .dataio-main .dataio-postnl-tracktrace {
  padding-bottom: 8px;
}

.dataio-order-shipped-outer-wrapper .dataio-main .dataio-postnl-tracktrace ._url {
  text-decoration: underline;
}

.dataio-order-shipped-outer-wrapper .dataio-main .dataio-order-details .dataio-orderItems-list {
  list-style: none;
  padding-left: 6px;
  margin-bottom: 0;
  padding-bottom: 4px;
  padding-top: 4px;
}

.dataio-order-shipped-outer-wrapper .dataio-main .dataio-order-details .dataio-orderItems-list ._item {
  margin: 0;
  padding: 0;
}

.dataio-order-shipped-outer-wrapper .dataio-main .dataio-order-details .dataio-orderItems-list ._item ._product-title {
  font-style: italic;
}

.dataio-order-shipped-outer-wrapper .dataio-main .dataio-delivery-change_delivery {
  margin-top: 20px;
}

.dataio-order-shipped-outer-wrapper .dataio-main .dataio-delivery-not_home {
  margin-top: 20px;
}

.dataio-order-shipped-outer-wrapper .dataio-main .dataio-footer ._footer-content {
  background-color: #d52129;
  color: white;
  height: 60px;
  vertical-align: middle;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
}

.dataio-order-shipped-outer-wrapper .dataio-main .dataio-footer ._footer-url {
  text-decoration: none;
  color: white;
}

