$dataio-mail-block: #fffbf9;

.dataio-order-shipped-body {
    background: initial;
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: "Open Sans", serif;

    table{
        border-collapse: collapse !important;
    }

    * {
        -ms-text-size-adjust: 100%;
    }

    table, td {
        mso-table-lspace: 0pt !important;
        mso-table-rspace: 0pt !important;
    }
    img {
        -ms-interpolation-mode:bicubic;
    }
    a {
        text-decoration: none;
    }
}

.dataio-order-shipped-outer-wrapper {
    border: 0;
    width: 100%;
    background: #ffffff;

    .dataio-table-spacer {
        padding-top: 20px;
    }
    .dataio-table-title {
        font-size: 1.1em;
        font-weight: bold;
        color: $theme-red;
        padding-bottom: 4px;
    }

    .dataio-header {
        display: block;
        border-spacing: 0;
        border-collapse: collapse;
        width: 100%;
        text-align: center;

        ._wrapper {
            width: 100%;
            max-width: 700px;
            vertical-align: top;
            border-spacing: 0;
            border-collapse: collapse;
            text-align: center;
        }

        .dataio-logo {
            height: 60px;
        }
    }

    .dataio-main {
        margin: 0 auto;
        max-width: 700px;

        tr {
            height: 12px;
            padding: 0;
            margin: 0;
        }
        td {
            font-size: 1em;
            line-height: 1em;
            height: 12px;
        }

        .dataio-top-header {
            margin-top: 50px;

            ._intro-header {
                font-size: 1.5em;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 10px;
                color: $theme-red;
            }
        }

        .dataio-delivery-date {
            padding-top: 8px;
        }

        .dataio-postnl-tracktrace {
            padding-bottom: 8px;

            ._url {
                text-decoration: underline;
            }
        }

        .dataio-order-details {

            .dataio-orderItems-list {
                list-style: none;
                padding-left: 6px;
                margin-bottom: 0;
                padding-bottom: 4px;
                padding-top: 4px;

                ._item {
                    margin: 0;
                    padding: 0;
                    ._product-title {
                        font-style: italic;
                    }
                }
            }
        }

        .dataio-delivery-details {
            //
        }

        .dataio-delivery-change_delivery {
            margin-top: 20px;
        }

        .dataio-delivery-not_home {
            margin-top: 20px;
        }

        .dataio-footer {

            ._footer-content {
                background-color: $theme-red;
                color: white;
                height: 60px;
                vertical-align: middle;

                padding-top: 14px;
                padding-right: 14px;
                padding-bottom: 14px;
                padding-left: 14px;
            }

            ._footer-url {
                text-decoration: none;
                color: white;
            }
        }
    }
}
