html, body {
    page-break-after: avoid;
    page-break-before: avoid;
}
.page-break {
    page-break-after: always;
}

.invoice {
    font-family: "open sans", sans-serif;
    font-size: 11px;
    position: absolute;
    width: 100vw;

    .container {
        width: 100%;
    }
    .row {
        .col {
            display: inline-block;
        }
    }
    .invoice-logo {
        height: 80px;

        &.__dio {
            height: 70px;
        }
        &.__bol {
            position: absolute;
            top: -60px;
            height: 40px;
            margin-left: 20px;
        }
    }

    .top-row {
        position: relative;
        width: 100%;
    }
    .company-details {
        position: absolute;
        top: 0;
        padding-right: 28px;
        float: right;
        line-height: 4px;
        font-size: 10px;

        .company-name {
            font-weight: bold;
            font-size: 1.1em;
        }

        .company-details-contact {
            margin-top: -6px;
            margin-bottom: -6px;
             ._url a {
                 color: $theme-red;
             }
        }
    }

    .invoice-title {
        font-size: 24px;
        font-weight: bold;
    }

    .addresses {
        width: 100%;
        font-size: 0;

        .__table-wrapper {
            font-size: 12px;
        }

        ._address-table {
            position: relative;
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;

            td {
                padding: 0;
                vertical-align: bottom;
                word-wrap: break-word;
                word-break: break-all;
                line-height: 12px;
            }
        }
    }


    .invoice-details {
        margin-top: 30px;
        margin-bottom: 30px;
        line-height: 4px;

        .invoice-details-table {
            td {
                padding: 5px 4px 5px 0;
                white-space: nowrap;

                &.__padding-left {
                    padding-left: 20px;
                }
            }
        }
    }

    .order-details {
        position: absolute;

        .order-details-table {
            width: 100%;
            border-collapse: collapse;

            th {
                text-align: left;
                padding-right: 4px;
                border-bottom: 2px solid #e2e2e2;
            }

            ._product-title {
                font-size: 0.9em;
                line-height: 0.9em;
                ._jewelcase {
                    display: block;
                    font-style: italic;
                }
            }
            ._quantity {
                text-align: right;
            }

            .orderItem-reference {
                width: 20%;
            }

            .orderItem-title {
                width: 45%;
            }

            .orderItem-unitPrice {
                width: 12%;
            }

            .orderItem-quantity, .orderItem-VAT {
                width: 5%;
            }
            .orderItem-quantity {
                text-align: right;
            }
        }

        .__order-items-table-wrapper {
            padding-bottom: 60px;
            border-bottom: 2px solid black;
        }

        .__order-price-table-wrapper {
            position: absolute;
            margin-top: 0;
            right: 0;

            .vat-calculations-table {
                border-spacing: 0;
                text-align: right;
                ._border-top {
                    border-top: 2px solid black;
                }
                ._price {
                    width: 120px;
                }
                ._height {
                    line-height: 12px;
                }
                ._last-before-total {
                    padding-bottom: 6px;
                }
            }
        }

        .bol-payment-info {
            font-size: 10px;
            line-height: 8px;
            font-style: italic;
        }
    }
    .bottom-text {
        position: absolute;
        bottom: -45px;
        left: -45px;
        right: -45px;
        font-size: 12px;
        line-height: 12px;
        background-color: $theme-red;
        color: white;
        height: 75px;

        ._wrapper {
            padding: 8px 45px 10px 45px;
        }
    }
}
