html, body {
    page-break-after: avoid;
    page-break-before: avoid;
}

.page-break {
    page-break-after: always;
}

.packing-slip {
    font-family: "open sans", sans-serif;
    font-size: 11px;
    position: absolute;
    width: 100vw;

    .container {
        width: 100%;
    }
    .row {
        .col {
            display: inline-block;
        }
    }
    .packing-slip-logo {
        height: 80px;

        &.__dio {
            height: 70px;
        }
        &.__bol {
            position: absolute;
            top: -60px;
            height: 40px;
            margin-left: 20px;
        }
    }

    .top-row {
        position: relative;
        width: 100%;
    }
    .company-details {
        position: absolute;
        top: -20px;
        right: 0;
        float: right;
        line-height: 4px;
        font-size: 10px;

        .company-name {
            font-weight: bold;
            font-size: 1.1em;
        }

        .company-details-contact {
            margin-top: -6px;
            margin-bottom: -6px;

            ._url a {
                text-decoration: none;
                color: initial;
            }
        }
    }

    .packing-slip-title {
        font-size: 24px;
        font-weight: bold;
    }

    .addresses {
        margin-top: 35px;
        width: 100%;
        font-size: 0;

        .__table-wrapper {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
        }

        ._address-table {
            position: relative;
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;

            td {
                padding: 0;
                vertical-align: bottom;
                word-wrap: break-word;
                word-break: break-all;
                line-height: 11px;
            }

            .__title {
                font-size: 0.7em;
                text-transform: uppercase;
                padding-bottom: 6px;
            }

            .__zipCode {
                line-height: 15px;
                font-weight: bold;
            }
        }
    }


    .invoice-details {
        margin-top: 18px;
        margin-bottom: 22px;
        line-height: 4px;

        .invoice-details-table {
            td {
                padding: 4px 4px 4px 0;
                white-space: nowrap;

                &.__padding-left {
                    padding-left: 20px;
                }
            }
        }
    }

    .order-details {
        position: relative;

        .order-details-table {
            width: 100%;
            border-collapse: collapse;

            th {
                text-align: left;
                padding-right: 4px;
                border-bottom: 1px solid black;
            }

            ._product-title {
                font-size: 0.9em;
                line-height: 0.9em;
                ._jewelcase {
                    display: block;
                    font-style: italic;
                }
            }
            ._quantity {
                text-align: center;
            }

            .orderItem-reference {
                width: 20%;
            }

            .orderItem-title {
                width: 45%;
            }

            .orderItem-unitPrice {
                width: 12%;
            }

            .orderItem-quantity, .orderItem-VAT {
                width: 5%;
            }

            .orderItem-quantity {
                text-align: center;
            }

            .more_than_one {
                background-color: #343434;
                color: white;
                font-weight: bold;
            }

            .multi-pack {
                background-color: #cfcfcf;
                font-weight: bold;
            }
        }

        .__order-items-table-wrapper {
            padding-bottom: 60px;
            border-bottom: 1px solid #aaaaaa;
        }

        .__order-price-table-wrapper {
            position: absolute;
            margin-top: 0;
            right: 0;

            .vat-calculations-table {
                border-spacing: 0;
                text-align: right;
                ._border-top {
                    border-top: 1px solid #aaaaaa;
                }
                ._price {
                    width: 120px;
                }
                ._height {
                    line-height: 12px;
                }
                ._last-before-total {
                    padding-bottom: 6px;
                }
            }
        }

        .bol-payment-info {
            font-size: 10px;
            line-height: 8px;
            font-style: italic;
        }
    }
    .return-terms {
        padding: 0 0 0 10px;
        position: relative;
        top: 100px;
        text-align: center;
        font-size: 0.9em;

        ._text-wrapper {
            border: 2px solid #6b6b6b;
            padding: 8px;
            width: 50%;
            margin: 0 auto;

            .__title {
                margin: 0;
                padding: 0;
            }
            p {
                margin: 0;
            }
        }

        ._underline {
            text-decoration: underline;
        }
    }

    .bottom-text {
        position: absolute;
        bottom: -20px;
        left: -20px;
        right: -20px;
        line-height: 12px;
        font-size: 9px;

        td {
            display: table-cell;
            vertical-align: top;

            p {
                margin: 0;
                padding: 0;
            }
        }
    }
}
