.mt-2 {
    margin-top: 4px;
}
.mt-3 {
    margin-top: 6px;
}
.mt-6 {
    margin-top: 12px;
}
.mt-8 {
    margin-top: 16px;
}
.mr-4 {
    margin-right: 8px;
}
.mb-0 {
    margin-bottom: 0;
}
.ml-0 {
    margin-left: 0;
}

.pb-1 {
    padding-bottom: 2px;
}

.font-weight-bold {
    font-weight: bold;
}
.text-right {
    text-align: right !important;
}
.text-decoration-none {
    text-decoration: none;
}
